<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
  <title>Ejemplos de tags h</title>
  
  <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
  <h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
  
  <script type="text/javascript">
  function mostrar(){
	  alert(document.getElementById('formulario:secreto'.value));
  }
  </script>
</h:head>

<h:body>
	<!-- Carousel -->
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<h:graphicImage library="imagenes" name="uno.jpeg"></h:graphicImage>
    </div>
    <div class="carousel-item">
      	<h:graphicImage library="imagenes" name="dos.jpeg"></h:graphicImage>
    </div>
    <div class="carousel-item">
      	<h:graphicImage library="imagenes" name="tres.jpeg"></h:graphicImage>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>



	<h:form id="formulario">
	Nombre: <h:inputText value="limber" id="ap" name="ap" readonly="true" style=""/>
	<br/>
	<h:inputSecret value="123"/>
	<br/>
	<h:inputTextarea row="4" col="20" value="Valos hacer prueba"/>
	<h:inputHidden value="Mensaje secreto" id="secreto"/>
	<h:commandButton value="Mostrar" onclick="mostrar()"/>
	
	<h:selectBooleanCheckbox value="Acepto el contrato" id="chk1" />
	<h:commandButton value="..." onclick="mostrarchk()"/>
	
	<h:selectManyCheckbox value="#{prueba.lenguajes}">
		<f:selectItem itemValue="1" itemLabel="JAVA" />
		<f:selectItem itemValue="2" itemLabel="C++" />
		<f:selectItem itemValue="3" itemLabel="C#" />
		<f:selectItem itemValue="4" itemLabel="Python" />
	</h:selectManyCheckbox><br/>
	
	<h:selectOneRadio value="#{prueba.seleccion}">
		<f:selectItem itemValue="1" itemLabel="JAVA"/>
		<f:selectItem itemValue="2" itemLabel="C++"/>
	</h:selectOneRadio>
	
	<h:selectOneListbox value="#{prueba.seleccion}">
		<f:selectItem itemValue="1" itemLabel="JAVA"/>
		<f:selectItem itemValue="2" itemLabel="C++"/>
	</h:selectOneListbox>
	
	<h:selectManyListbox value="#{prueba.seleccion}">
		<f:selectItem itemValue="1" itemLabel="JAVA"/>
		<f:selectItem itemValue="2" itemLabel="C++"/>
	</h:selectManyListbox>
	
	<h:selectOneMenu value="#{prueba.seleccion}">
		<f:selectItem itemValue="1" itemLabel="JAVA"/>
		<f:selectItem itemValue="2" itemLabel="C++"/>
	</h:selectOneMenu>
	<h:commandButton value="Ejecutar" action="resultadosderespuestas"/>
	
	</h:form>
	
	<h:outputFormat value="Hola mi nombre es {0} y tengo {1} años.">
		<f:param value="Limber"/>
		<f:param value="20"/>
	</h:outputFormat>
	<br/>
	<h:link value="Haga click aqui" outcome="respuesta"/> <br/>
	<h:commandLink value="Click me" action="respuesta"/> <br/>
	<h:outputLink value="respuesta.xml">Clickame</h:output Link>  
	
	<h:form>
		<h:commandButton id="enviar" value="ENVIAR..." action="#{preuba.mostrarvalor}">
			<f:param name="val" value="pepe"/>
		</h:commandButton>
	</h:form>
</h:body>

</html>
