<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
<h:head>
	<title>Examen</title>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
 	<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>

</h:head>

<h:body>


	 <h:form>
  <!-- Name input -->
  <div></div>
  <div class="form-outline mb-4">
  	<label class="form-label" for="form2Example1">Name</label>
  	<h:inputText id="nombre" class="form-control" value="#{userLogin.username}"
						a:placeholder="Ingrese su nombre" />
  	
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
 	<label class="form-label" for="form2Example2">Password</label>
 	<h:inputSecret id="password" value="#{userLogin.password}" class="form-control"></h:inputSecret>
    
  </div>
 
  <!-- Submit button -->
  <h:commandButton value="Click aqui" class="btn btn-primary btn-block mb-4"
						action="#{userLogin.login}" />
  </h:form>
	
</h:body>

</html>
