<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
  <title>Respuesta</title>
</h:head>

<h:body>
	Hola #{nombreDeUsuario}
	<h:outputText value="Hola, soy un texto"/>
	<br/>
	<h:outputText value="#{prueba.seleccion}"/>
</h:body>

</html>
