<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<head>
  <title><ui:insert name="title">Resultados</ui:insert></title>
</head>

<body>
	<table border="1">
	<tr><th>Lenguajes</th></tr>
	<ui:repeat value="#{prueba.lenguajes}" var="len">
		
		<tr><td>#{len},</td></tr>
	</ui:repeat>
	</table>
</body>

</html>
